footer {
    margin-top: 20px;
    color: var(--text-body-on-dark);
}

footer p {
    text-align: center;
    padding: 1em;
}

.footer1 {
    background-color: var(--main-color-secondary);
}

.footer2 {
    background-color: var(--main-color);
}
