.footer {
    margin-top: 20px;
    color: white;
}
.footer1 {
    background-color: red;
}
.footer2 {
    background-color: rgb(200, 0, 0);
}
.footer2 p, .footer1 p {
    text-align: center;
    padding: 1em;
}