.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 40%;
    margin-right: 2em;
    margin-bottom: 1em;
}

.table {
    border-collapse: collapse;
}

.table th {
    background: var(--main-color-secondary);
    color: var(--text-body-on-dark);
    border-bottom: 1px solid var(--main-color-secondary) !important;
}

.table th, .table td {
    border-bottom: 1px solid #ccc;
    padding: 12px;
}

.table tr:nth-child(even) {
    background: #efefef;
}

.table tr:hover {
    background: #d1d1d1;
}