.table {
    border-collapse: collapse;
}

.table th {
    background: #ccc;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.table tr:nth-child(even) {
    background: #efefef;
}

.table tr:hover {
    background: #d1d1d1;
}