.sform {
    width: 1024px;
    background-color:rgba(249, 249, 249, .6);
    border-radius: 8px;
}
.scontainer {
    width: 800px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.fas {
    font-size: 1.3em;
    color: red;
}
.scontainer h2{
    margin: 0;
}
.scontainer i {
    float: left;
    padding-right: 10px;
}

.scontainer input[type=text], select {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
  }

.inputrow {
    margin-top: 25px;
    position: relative;
}
.inputrow i {
    width: 10%;
    padding-right: 0;
    margin-top: 16px;
}
.inputrow i::before {
    padding-left: 40%;
}
.inputrow .src, .inputrow .dst{
    width: 45%;
    float:left;
}
.src input[type=text], select  {
    width: 100%;
    margin-bottom: 0;
}
.dst input[type=text], select  {
    width: 100%;
    margin-bottom: 0;
}

.inputrow::after{
    content: "";
    display: block;
    clear: both;

}

.inputrow2{
    margin-top: 25px;
}
.inputDate,.inputTime{
    float:left;
    overflow: hidden;
    width: 30%;
    margin-right: 5%;
}
.radio{
    float: left;
    overflow: hidden;
    margin-top: 12px;
    width :30%;
}
.inputDate i, .inputTime i {
    background-color: white;
    width: 10%;
    padding: 12px 0px;
    float: left;
}
.inputDate i:hover, .inputTime i:hover {
    background-color: gray;
}
.inputDate i::before, .inputTime i::before{
    padding-left: 8px;
}

.fa-chevron-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.fa-chevron-right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.inputDate input[type=text], select, .inputTime input[type=text], select {
    width: 80%;
    border: none;
    border-radius: 0px;
    height: 44px;
    float: left;
    margin: 0px;
}


.inputrow2::after{
    content: "";
    display: block;
    clear: both;

}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
  }
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 50%;
  }
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
.container input:checked ~ .checkmark:after {
    display: block;
  }
.container .checkmark:after {
    top: 2px;
   left: 2px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   background: red;
}
.inputrow3 {
    margin-top: 25px;
    overflow: auto;
}
.inputrow3 div {
    float: left;
    background-color: white;
    padding: 6px 12px;
    margin-top: 6px;
    border-radius: 8px;
    padding-top: 6px;
    overflow: hidden;

}
.inputrow3 a{
    overflow: hidden;
}
.submitbtn {
    float: right;
    width: 72%;
    height: 44px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: block;
    background-color: red;
    text-decoration: none;
    cursor: pointer;
}
