.select h1 {
    color: var(--main-color);
    text-align: center;
}

.select .itembox {
    border: 0 solid black;
    box-shadow: var(--elevation-4);
    margin-top: 1.6em;
    padding: 1em;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.2s ease;
}

.select .itembox:hover {
    box-shadow: var(--elevation-8);
}

.select .lsbox {
    width: 74%;
}

.select .rsbox {
    width: 25%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px dashed black;
}

.select table {
    width: 100%;
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.select table th {
    text-align: left;
    width: 10%;
}

.select table td:last-child {
    text-align: center;
    width: 130px;
}

.select .detailInfo p {
    width: 50%;
    margin: 0;
    color: gray;
}

.select .detailInfo p:last-child {
    text-align: right;
}

.selectOptions button {
    margin-left: 25%;
    margin-top: 25px;
    width: 50%;
    height: 40px;
    background-color: var(--body-color);
    border: 3px solid var(--main-color);
    border-radius: 4px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.selectOptions button i {
    padding-left: 20px;
}

.bigLoad {
    height: 600px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.bigLoad p {
    padding-left: 470px;
    font-size: 2em;
    font-weight: bold;
    color: var(--main-color);
}

.smallLoad p {
    padding-left: 500px;
    font-weight: bold;
    color: var(--main-color);
}

.itemsDetail {
    padding: 1em;
    box-shadow: var(--elevation-4);
}

.itemsDetail h3 {
    margin-top: 0;
}

.itemsDetail button {
    background-color: var(--main-color-secondary);
    border: 2px solid var(--main-color);
    color: white;
    font-size: 1.8em;
    margin-bottom: 0;
    height: 50px;
}

.itemsDetail button:hover {
    background-color: var(--main-color);
}

.loadMore {
    height: 110px;
}
