.select h1 {
    color: rgb(200, 0, 0);
    text-align: center;
}
.select .itembox{
    border: 0px solid black;
    box-shadow: -5px -5px 15px rgba(100, 100, 100, .4), 5px -5px 15px rgba(100, 100, 100, .4);
    margin-top: 1em;
    padding: 1em;
    overflow: hidden;
    position: relative;
}
.select .lsbox {
    width: 74%;
    background-color: ;
}
.select .rsbox {
    width: 25%;
    height: 100%;

    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px dashed black;
}
.select table {
    width: 100%;
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
    font-size: 1.2em;
}
.select table th {
    text-align: left;
    width: 10%;
}
.select table td:last-child {
    text-align: center;
    width: 130px;
}
.select .detailInfo p{
    width: 50%;
    margin: 0;
    color: gray;
}
.select .detailInfo p:last-child{
    text-align: right;
}

.selectOptions button {
    margin-left: 25%;
    margin-top: 25px;
    width: 50%;
    height: 40px;
    background-color: white;
    border: 3px solid rgb(200, 0, 0);
    border-radius: 4px;
    font-size: 16px;
    color: black;
    font-weight: bold;
}
.selectOptions button i{
    padding-left: 20px;
}
.bigLoad {
    height: 600px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.bigLoad p {
    padding-left: 470px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(200, 0, 0);
}
.smallLoad p{
    padding-left: 500px;
    font-weight: bold;
    color: rgb(200, 0, 0);
}

.itemsDetail {
    padding: 1em;
    box-shadow: -5px 5px 16px rgba(100, 100, 100, .4), 5px 5px 16px rgba(100, 100, 100, .4);
}
.itemsDetail h3 {
    margin-top: 0;
}
.itemsDetail button {
    background-color: red;
    border: none;
    color: white;
    font-size: 2.2em;
    margin-bottom: 0;
    height: 50px;
    -webkit-text-stroke: 1px rgb(80, 0, 0);
}
.loadMore {
    height: 110px;
}