.ticketList {
    list-style: none;
    padding: 0;
}

.ticket {
    border: 0 solid black;
    box-shadow: var(--elevation-4);
    transition: box-shadow 0.2s ease;
    margin-top: 1.6em;
    padding: 1em;
    overflow: hidden;
    position: relative;
}

.ticket:hover {
    box-shadow: var(--elevation-8);
}

.l-content-ticket {
    width: 59%;
    float: left;
    padding-right: 1%;
}

.l-content-ticket h2 {
    margin: 0;
}

.l-content-ticket h2 small {
    color: var(--text-gray);
    margin-left: 5px;
}

.r-content-ticket {
    width: 36%;
    float: left;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;

    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px dashed black;
}

.l-content-ticket a {
    display: inline-block;
    padding-bottom: 1em;
}

.l-content-ticket .routeInfo {
    font-weight: 200;
    font-size: 1.3em;
}

.l-content-ticket button {
    background-color: var(--main-color-secondary);
    border: 2px solid var(--main-color);
    border-radius: 4px;
    color: var(--text-body-on-dark);
    padding: 0.5em 1em;
    font-size: 0.7em;
}

.l-content-ticket button:hover {
    background-color: var(--main-color);
}

.r-content-ticket p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    margin-right: 4%;
    text-align: right;
}

.content-ticket::after {
    content: "";
    display: block;
    clear: both;

}

.advancedInfo {
    border-top: 1px dashed black;
}

.advancedInfo li {
    list-style: none;
}

.seatsReservations {
    padding-top: 0.5em;
}

.seatsReservations span {
    margin-right: 1em;
}

.seatsReservations i {
    color: black;
    padding-right: 0.25em;
}

table.segment {
    width: 100%;
    margin-top: 1em;
}

table.segment td {
    width: 40%;
}

table.segment td:last-child {
    width: 20%;
}